<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.nju.software.ui"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <application
        android:name=".MyApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
       <activity
            android:name=".PlazaActivity" 
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".LoginActivity" 
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateHidden">
        </activity>
        
        <activity
            android:name=".ShareFileActivity" 
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
         <activity
            android:name=".ContactDetailActivity" 
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".ContactActivity" 
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".PersonalActivity" 
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateHidden">
        </activity>
         <activity
            android:name="cn.edu.nju.software.ui.EmailActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"
             android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name="cn.edu.nju.software.ui.EmailDetailActivity"
            android:label="@string/title_activity_email_detail" 
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
            android:name="cn.edu.nju.software.ui.CalendarActivity"
            android:label="@string/calendar_activity" 
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
            android:name="cn.edu.nju.software.ui.CalendarDetailActivity"
            android:label="@string/calendar_detail_activity" 
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
            android:name=".SDCardActivity" 
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateHidden">
        </activity>
    </application>

</manifest>